@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');


html {font-size:20px;}
body {font-size:0.8rem;color:var(--dc);}

#Wrap {min-width:95rem;}

#header nav {position:fixed;top:50%;left:50px;transform:translateY(-50%);z-index:999;}
#header .cover_btn {position:fixed;top:3rem;right:3rem;z-index:999;}
#header .cover_btn i {font-size:1.5rem;padding:.5rem;background:var(--lc)}



.intro {position: relative;}
.intro_text {float:left;width:25%;}
.intro_text::after {content:"";display:block;width:1200px;height:100vh;background: url(../img/mv.png)no-repeat center center/cover;position:absolute;top:0;left:0;}
.intro .txt {position: absolute;top: 150px;right: 170px;color:#fff;z-index: 99999;text-align: right;}
.intro .txt strong {display: block; font-size: 48px; font-weight:600;font-family: 'Outfit', sans-serif;margin-bottom: 20px;}
.intro .txt h2 {font-size: 65px; font-weight:900;font-family: 'Outfit', sans-serif;margin-bottom:10px;}
.intro .txt p {font-size: 25px;}
.intro a {position: absolute; top: 90%;right: 170px;color: #fff; font-size: 23px;font-weight: 600; z-index: 99999;}
.intro a:hover {font-size: 23px;font-weight: 800;}

.intro_img {float:left;width:75%;}
.intro_img:after {content:"";display:block;width:1200px;height:100vh;background:#2e3b52;position:absolute;top:0;right:0;}
.intro_img figure {display:block;position:absolute;top:13%;left:55%; max-width: 470px;;z-index:101;opacity:0;transform:translateY(200px);transition:1s;}
.intro.on .intro_img figure {opacity:1;transform:translateY(0);}



#header nav li a {position:relative;display:block;width:40px;height:1rem;text-indent:-99999px;}
#header nav li a:after {content:"";position:absolute;top:0.3rem;left:0;display:block;width:50%;height:2px;background:#888;border-radius:0.15rem;transition:0.3s;}
#header nav li.on a:after {width:100%;}


.portfolio_01 {position:relative;}
.portfolio_01 img {width:100%;}
/* pt01 왼쪽   */
.portfolio_01.on .ptf01_text {opacity:1;transform:translateY(0);}
.ptf01_text {float:left;width:25%;padding:100px 0 0 160px;opacity:0;transform:translateY(200px);transition:1s;}
.ptf01_text strong {display: block; color:#b37055;font-size: 32px;font-weight: 600;margin-bottom: 20px;}
.ptf01_text p {font-size:15px;font-weight:300;padding-top:5px;line-height:22px;padding-top:5px;}
.ptf01_text h3 {font-size: 18px;font-weight: 500;margin-bottom: 5px;}
.ptf01_type {margin: 30px 0;}
.ptf01_info {margin-bottom: 30px;}
.ptf01_font {margin-bottom: 30px;}


.ptf01_color span {position:relative;top:10px;padding:0 20px;font-size:15px;font-weight:300;}
.ptf01_color span:after {content:"";display:block;width:23px;height:23px;background:#b37055;border:1px rgba(0, 0, 0, 0.5);border-radius:50%;position:absolute;top:5px;left:0px;}
.ptf01_color span:nth-child(3):after {background:#615244;}
.ptf01_color span:nth-child(4):after {background:#dba194;}

/* pt01 오른쪽  */
.ptf01_img {float:left;width:75%;}
.ptf01_img:after {content:"";display:block;width:1200px;height:100vh;background:#c47f64;position:absolute;top:0;right:0;}
.ptf01_img figure {position:relative;left:350px;background:url(../img/mo03.png) no-repeat center center/cover;height:750px;width:1300px;overflow:hidden;z-index:10;}
.ptf01_img figure a {display:block;position:relative;top:40px;left:74px;width:1100px;height:605px;overflow:hidden;z-index:101;}
.ptf01_img figure a img {position:relative;top:0;transition:10s;}
.ptf01_img .view {position:absolute;bottom:680px;right:1000px;font-size:18px;font-weight:300;padding:8px 40px;transition:0.3s;z-index:10;background:#5f2210;color:#fff;}
.ptf01_img .view:hover {background:#faeada;color:#555;}
/*---- pt01 끝----------- */

.portfolio_02 {position:relative;}
.portfolio_02 img {width:100%;}
/* pt02 왼쪽   */
.portfolio_02.on .ptf02_text {opacity:1;transform:translateY(0);}
.ptf02_text {float:left;width:25%;padding:100px 0 0 160px;opacity:0;transform:translateY(200px);transition:1s;}
.ptf02_text strong {display: block; color:#5e3177;font-size: 32px;font-weight: 900;margin-bottom: 20px;}
.ptf02_text p {font-size:15px;font-weight:300;padding-top:5px;line-height:22px;padding-top:5px;}
.ptf02_text h3 {font-size: 18px;font-weight: 500;margin-bottom: 5px;}
.ptf02_type {margin: 30px 0;}
.ptf02_info {margin-bottom: 30px;}
.ptf02_font {margin-bottom: 30px;}


.ptf02_color span {position:relative;top:10px;padding:0 20px;font-size:15px;font-weight:300;}
.ptf02_color span:after {content:"";display:block;width:23px;height:23px;background:#5e3177;border:1px rgba(0, 0, 0, 0.5);border-radius:50%;position:absolute;top:5px;left:0px;}
.ptf02_color span:nth-child(3):after {background:#ecf3fd;}
.ptf02_color span:nth-child(4):after {background:#fff;border:1px solid#000;}

/* pt02 오른쪽  */
.ptf02_img {float:left;width:75%;}
.ptf02_img:after {content:"";display:block;width:1200px;height:100vh;background:#5e3177;opacity: 0.8;position:absolute;top:0;right:0;}
.ptf02_img figure {position:relative;left:350px;background:url(../img/mo03.png) no-repeat center center/cover;height:750px;width:1300px;overflow:hidden;z-index:10;}
.ptf02_img figure a {display:block;position:relative;top:40px;left:74px;width:1100px;height:605px;overflow:hidden;z-index:101;}
.ptf02_img figure a img {position:relative;top:0;transition:10s;}
.ptf02_img .view {position:absolute;bottom:680px;right:1000px;font-size:18px;font-weight:300;padding:8px 40px;transition:0.3s;z-index:10;background:#0d6577;color:#fff;}
.ptf02_img .view:hover {background:#c9a478;color:#fff;}
.ptf02_img .ptf02_img_mo {position:absolute;top:380px;left:770px;background:url(../img/r_pata.png) no-repeat center center/cover;height:480px;width:250px;overflow:hidden;z-index:10;}

/* pt02 끝---------------- */

.portfolio_03 {position:relative;}
.portfolio_03 img {width:100%;}
/* pt03 왼쪽   */
.portfolio_03.on .ptf03_text {opacity:1;transform:translateY(0);}
.ptf03_text {float:left;width:25%;padding:100px 0 0 160px;opacity:0;transform:translateY(200px);transition:1s;}
.ptf03_text strong {display: block; color:#794d42;font-size: 32px;font-weight: 900;margin-bottom: 20px;}
.ptf03_text p {font-size:15px;font-weight:300;padding-top:5px;line-height:22px;padding-top:5px;}
.ptf03_text h3 {font-size: 18px;font-weight: 500;margin-bottom: 5px;}
.ptf03_type {margin: 30px 0;}
.ptf03_info {margin-bottom: 30px;}
.ptf03_font {margin-bottom: 30px;}


.ptf03_color span {position:relative;top:10px;padding:0 20px;font-size:15px;font-weight:300;}
.ptf03_color span:after {content:"";display:block;width:23px;height:23px;background:#794d42;border:1px rgba(0, 0, 0, 0.5);border-radius:50%;position:absolute;top:5px;left:0px;}
.ptf03_color span:nth-child(3):after {background:#c9a478;}
.ptf03_color span:nth-child(4):after {background:#f4f4f4;}

/* pt03 오른쪽  */
.ptf03_img {float:left;width:75%;}
.ptf03_img:after {content:"";display:block;width:1200px;height:100vh;background:#e1cab1;position:absolute;top:0;right:0;}
.ptf03_img figure {position:relative;left:350px;background:url(../img/mo03.png) no-repeat center center/cover;height:750px;width:1300px;overflow:hidden;z-index:10;}
.ptf03_img figure a {display:block;position:relative;top:40px;left:74px;width:1100px;height:605px;overflow:hidden;z-index:101;}
.ptf03_img figure a img {position:relative;top:0;transition:10s;}
.ptf03_img .view {position:absolute;bottom:680px;right:1000px;font-size:18px;font-weight:300;padding:8px 40px;transition:0.3s;z-index:10;background:#794d42;color:#fff;}
.ptf03_img .view:hover {background:#f4f4f4;color:#222;}
/* pt03 끝 */

.portfolio_04 {position:relative;}
.portfolio_04 img {width:100%;}
/* pt04 왼쪽   */
.portfolio_04.on .ptf04_text {opacity:1;transform:translateY(0);}
.ptf04_text {float:left;width:25%;padding:100px 0 0 160px;opacity:0;transform:translateY(200px);transition:1s;}
.ptf04_text strong {display: block; color:#6e0013;font-size: 32px;font-weight: 900;margin-bottom: 20px;}
.ptf04_text p {font-size:15px;font-weight:300;padding-top:5px;line-height:22px;padding-top:5px;}
.ptf04_text h3 {font-size: 18px;font-weight: 500;margin-bottom: 5px;}
.ptf04_type {margin: 30px 0;}
.ptf04_info {margin-bottom: 30px;}
.ptf04_font {margin-bottom: 30px;}


.ptf04_color span {position:relative;top:10px;padding:0 20px;font-size:15px;font-weight:300;}
.ptf04_color span:after {content:"";display:block;width:23px;height:23px;background:#952207;border:1px rgba(0, 0, 0, 0.5);border-radius:50%;position:absolute;top:5px;left:0px;}
.ptf04_color span:nth-child(3):after {background:#c9a478;}
.ptf04_color span:nth-child(4):after {background:#777;}

/* pt04 오른쪽  */
.ptf04_img {float:left;width:75%;}
.ptf04_img:after {content:"";display:block;width:1200px;height:100vh;background:#e7dac7;position:absolute;top:0;right:0;}
.ptf04_img figure {position:relative;left:350px;background:url(../img/mo03.png) no-repeat center center/cover;height:750px;width:1300px;overflow:hidden;z-index:10;}
.ptf04_img figure a {display:block;position:relative;top:40px;left:74px;width:1100px;height:605px;overflow:hidden;z-index:101;}
.ptf04_img figure a img {position:relative;top:0;transition:10s;}
.ptf04_img .view {position:absolute;bottom:680px;right:1000px;font-size:18px;font-weight:300;padding:8px 40px;transition:0.3s;z-index:10;background:#6e0013;color:#fff;}
.ptf04_img .view:hover {background:#c9a478;color:#222;}
/* pt04 끝 */




.outtro {position: relative;}

.outtro_left {float: left;width: 25%; position: absolute;top: 150px;left: 220px;width: 400px;color: #444;}
.outtro_left a {display:block;overflow:hidden;}
.outtro_left img {width: 100%;max-width: 230px;border-radius: 50%;margin-bottom: 20px;}

.outtro_left h2 {font-size: 32px;font-weight:700; margin-bottom: 20px;font-family: 'Outfit', sans-serif;}
.outtro_left h3 {font-size: 20px;margin-bottom: 240px;}
.outtro_left p {font-size: 13px; line-height: 1.3;position: absolute;top: 97%;}
.outtro_left p>span {display: block;font-size: 16px;font-weight: 500;margin-top: 20px;}
.outtro_left h3::after {content: "";width: 1px;height: 200px;background: #888;position: absolute;top:59%;left: 0;}
.introduction ul {flex:1;padding:15px;}
.introduction ul>li {font-size:17px;font-weight:300;padding:10px 0;}

.outtro_right {float: left;width: 75%;color: seashell;}
.outtro_right::before {content:"";display:block;width:1200px;height:100vh;background:#3a4f74;position:absolute;top:0;right:0;}

.outtro_right .txt {  position: absolute; top:40%;left:45%;}
.outtro_right .txt .top {display: flex;}
.outtro_right .txt .bottom {display: flex;}
.outtro_right dl {padding:30px 0;width: 350px;height: 250px; margin: 0 20px;}
.outtro_right dl i {padding-right: 10px;}
.outtro_right:nth-child(2) dl {padding-top:17px;}
.outtro_right dl dt {font-size:23px;font-weight:400;padding-bottom:15px;}
.outtro_right dl dd {font-size: 20px; padding:5px 0;font-size:15px;font-weight:300;line-height:20px;}
.top dl figure {padding:10px;border-radius: 50%;background: seashell;margin: 5px;}
.top dl figure img {max-width: 35px;}
.top dl .bt figure img {max-width: 25px;}
.top dl .bt figure {padding:5px 10px;}
.top dl .bt {display: flex;}
.top dl .tp {display: flex;}














