@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

/* * {outline: 1px solid#f00;} */


.header {width:1200px;margin:0 auto; padding: 25px 0;font-family: 'Lora', serif; display: flex;justify-content: space-between;}
.header .container .my {display: flex;}
.header .container .my>ul>a {padding: 0 20px;font-size: 15px;}
.header .container .my>ul>a>i {font-size: 21px;}
.header h1>a {font-size: 20px;}

.header .container {position: relative;}
.header .container .mclose { width: 1200px;margin: 0 auto;text-align: right;padding:25px 20px; font-size: 22px;z-index: 99999;}

@media (max-width:768px){
    .header {padding: 15px 0;width: auto;}
    .header .container .my {display: flex;}
    .header .container .my>ul>a {padding: 0 10px;font-size: 12px;}
    .header h1 {text-align: center;padding: 0 20px;}
    .header img {max-width:110px;}
    .header .container .mclose { width: auto;text-align: right;padding:20px 20px; font-size: 15px;z-index: 99999;}

} 


.gnb { margin-left:auto;position: fixed;top: 0;right:-100%;background: #b98d83;height: 100vh ;width:100%; transition:0.4s;z-index: 999;}
.gnb.on {right: 0;}
.gnb .menu {width:100%;height: 250px; display: flex;position: absolute;top: 50%;left: 50%; transform: translate(-50%,-50%);justify-content: center;}
.gnb .menu>li>a {font-size: 20px;padding: 0 30px;}

.gnb>ul>li .s_menu {display: none;;line-height: 2;z-index: 999;text-align: center;}
.gnb>ul>li:hover .s_menu {display: block;}

@media (max-width:768px){

    .container {position: relative;}
    .gnb .menu {position: absolute;top: 30%;}

    .gnb {margin-left:auto;position: fixed;top: 0;right:-100%;height: 100vh ;width:100%; transition:0.4s;z-index: 999;}
    .gnb.on {right: 0;}
    .gnb>ul {display:block;flex-direction:column;margin-top: 70px;}
    .gnb>ul>li {position: relative;}
    .gnb>ul>li>a {display: block; padding: 0 40px;position: relative;line-height:40px;}
  
    .gnb>ul>li .s_menu {display: none; line-height:1.5rem;width:100%;height:auto;background: #b48378;padding:10px 0 5px 0; position:static;top: 5rem;left:0;z-index: 999;}
    .gnb:hover>ul>li .s_menu {display: none;height:auto;}
    .s_menu a {display: block;text-align:left;line-height:2rem;font-size:14px;padding: 0 40px;}
    .mopen {display:block;}
    
}

@media (max-width:768px){
    #main_visual .m_sl>* {width: auto;}


}


#main_visual figure {position: relative;height: 500px;}
#main_visual .m_sl .t01 {background: url(../img/main_visual05.jpg) no-repeat center center/cover;} 
#main_visual .m_sl .t02 {background: url(../img/main_visual02.jpg) no-repeat center center/cover;} 
#main_visual .m_sl .t03 {background: url(../img/main_visual04.jpg) no-repeat center center/cover;} 

#main_visual .m_sl .t01>* {color: #fff;}
#main_visual .m_sl .t02>* {font-family: 'Lora', serif;}
#main_visual .m_sl .t03>* {color: antiquewhite;}

#main_visual .m_sl .t01 h2 {width: 1200px;margin: 0 auto; padding-top: 100px;font-size: 23px;}
#main_visual .m_sl .t01 h2:after {content: "";display:block;height: 1px;width:220px;background: #fff;margin-top: 15px;}
#main_visual .m_sl .t01 strong {width: 1200px;margin: 0 auto;display: block; padding-top: 20px;font-size: 20px;}
#main_visual .m_sl .t01 strong:after {content: "";display:block;height: 1px;width:275px;background: #fff;margin-top: 15px;}
#main_visual .m_sl .t01 p {width: 1200px;margin: 0 auto; padding-top: 40px;font-size: 15px;font-weight: 200;line-height: 1.2;}
#main_visual .m_sl .t01 span {width: 1200px;margin: 0 auto;display: block; padding-top: 40px;font-size: 18px;}
#main_visual .m_sl .t01 a {width: 1200px;margin: 0 auto;display: block; padding-top: 40px;font-size: 18px;font-weight: 200;}

#main_visual .m_sl .t02 h2 {width: 1200px;margin: 0 auto; padding-top: 70px;font-size: 20px;}
/* #main_visual .m_sl .t02 p {width: 1200px;margin: 0 auto; padding-top: 40px;font-size: 15px;font-weight: 200;line-height: 1.2;} */
#main_visual .m_sl .t02 span {width: 1200px;margin: 0 auto;display: block; padding-top: 230px;font-size: 17px;font-weight: 300;}
#main_visual .m_sl .t02 a {width: 1200px;margin: 0 auto;display: block; padding-top: 50px;font-size: 18px;font-weight: 200;}

#main_visual .m_sl .t03 h2 {width: 1200px;margin: 0 auto; padding-top: 100px;font-size: 25px;}
#main_visual .m_sl .t03 strong {width: 1200px;margin: 0 auto;display: block; padding-top: 55px;font-size: 20px;}
#main_visual .m_sl .t03 p {width: 1200px;margin: 0 auto; padding-top: 55px;font-size: 15px;font-weight: 200;line-height: 1.2;}
#main_visual .m_sl .t03 a {width: 1200px;margin: 0 auto;display: block; padding-top: 90px;font-size: 18px;font-weight: 200;}

#main_visual .slick-dots {position: absolute;top: 90%;left: 50%;transform: translate(-50%,-50%); display:flex;opacity: 0.5;}
#main_visual .slick-dots li {width:8px;height:8px;margin:10px 5px;background:#ddd;border-radius:50%;transition:0.4s;}
#main_visual .slick-dots li.slick-active {background:#444;transform:scale(1.2)}
#main_visual .slick-dots li button {display:none;}


.customer {width:1200px;margin: 100px auto;text-align:left;position: relative;margin-bottom: 100px;}
.customer h2 {padding:0 10px;font-size:20px;font-family: 'Lora', serif;margin-bottom: 40px;text-align: left;}
.customer strong {display: block;font-size: 13px;margin-bottom: 10px;font-weight: 100;}
.customer p {padding: 10px 0; font-size: 13px;}
.customer span {font-size: 11px;color: #444;}
.customer figure {padding:0 10px;}
.customer img {width: 100%;margin-bottom: 10px;}

.customer .btn i.xi-angle-left{margin-left: -650px;}
.customer .btn i.xi-angle-right{margin-left: 650px;}
.customer .btn i{position: absolute;top: 55%;left: 50%;transform: translate(-50%,-50%);font-weight: 200;font-size: 20px;}
.customer .slick-dots {display: none;}
.customer .slick-dots li button {display:none;}

@media (max-width:768px){
    .customer {padding:0 10px;text-align:center;width:auto;margin: 50px 0;}

    .customer .btn i{display: none;}
    
    .customer .slick-dots {display:flex;justify-content:center;}
    .customer .slick-dots li {width:10px;height:10px;margin:20px 5px;background:#ddd;border-radius:50%;transition:0.4s;}
    .customer .slick-dots li.slick-active {background:#444;transform:scale(1.2)}
    .customer .slick-dots li button {display:none;}

    .event .container {display:flex;width:auto;background:#e7d9cc;}
    .event {width: auto;}
}

.event { color: #5b4d44; margin-bottom: 100px;}

.event .container {display:flex;width:1200px;margin:0 auto;background:#e7d9cc;}
.event .container img {width:100%;}
.event .txt {text-align: right; padding:100px 50px;}
.event .txt img {width: 200px;margin-bottom:50px;}

.event .txt h2 {font-size:20px;font-weight:700;margin-bottom:20px;}
.event .txt p {font-size:15px;line-height:1.6;margin-bottom:20px;}
.event .txt span {display: block; font-size:15px;line-height:1.6;margin-bottom:20px;}
.event .txt a {display:inline-block;font-size:15px;}
.event .txt a:after {content: "";display:block;height: 1px;width:80px;background: #5b4d44;margin-top: 7px;}

.event .container .img {display: flex;}
.event .container .img .e02 {padding-top: 180px;width: 250px;}
.event .container .img .e03 {padding-left: 30px;width: 450px;}
 
.event .txt {opacity:0;transform:translateX(-500px)}
.event .img .e02 {opacity:0;transform:translateX(-500px)}
.event .img .e03 {opacity:0;transform:translateY(300px)}

.event.on .txt {opacity:1;transform:translateX(0);transition:0.5s;}
.event.on .img .e02 {opacity:1;transform:translateX(0);transition:0.5s;}
.event.on .img .e03 {opacity:1;transform:translateY(0);transition:0.5s 0.3s;}


@media (max-width:768px){
    .mn_visual {width: auto;}
    
}

.mn_visual {position: relative;width: 1200px;margin: 0 auto;border-bottom:1px solid#ddd;}
.mn_visual h2 {width: 1200px;margin: 0 auto; padding:0 10px;font-size:20px;font-family: 'Lora', serif;margin-bottom: 20px;text-align: left;}
.mn_visual figure { height: 400px; margin-bottom: 20px;}
.mn_visual .mmn_sl {width: 850px;margin: 0 auto;}
.mn_visual .mmn_sl .mn01 {background: url(../img/pro01.jpg) no-repeat center center/cover;} 
.mn_visual .mmn_sl .mn02 {background: url(../img/pro02.jpg) no-repeat center center/cover;} 
.mn_visual .mmn_sl .mn03 {background: url(../img/pro03.jpg) no-repeat center center/cover;} 
.mn_visual .mmn_sl .mn04 {background: url(../img/pro04.jpg) no-repeat center center/cover;} 
.mn_visual .mmn_sl .mn05 {background: url(../img/pro05.jpg) no-repeat center center/cover;} 
.mn_visual .mmn_sl .mn06 {background: url(../img/pro06.jpg) no-repeat center center/cover;} 
.mn_visual .slogan { position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%);text-align: center; z-index: 99999;}
.mn_visual .slogan i {font-size: 25px;padding: 10px;}

.mn_visual .slick-dots {position: absolute;top: 85%;left: 50%;transform: translate(-50%,-50%); display:flex;}
.mn_visual .slick-dots li {width:8px;height:8px;margin:15px 5px;background:#ddd;border-radius:50%;transition:0.4s;}
.mn_visual .slick-dots li.slick-active {background:#444;transform:scale(1.2)}
.mn_visual .slick-dots li button {display:none;}



.mn {width:1200px;margin: 0 auto;text-align:left;position: relative;margin-bottom: 100px;margin-top: 20px;}

.mn strong {display: block;font-size: 13px;margin-bottom: 10px;font-weight: 100;}
.mn p {padding: 10px 0; font-size: 13px;}
.mn span {font-size: 11px;color: #444;}
.mn figure {padding:0 10px;}
.mn img {width: 100%;margin-bottom: 10px;}

.mn .btn i.xi-angle-left{margin-left: -650px;}
.mn .btn i.xi-angle-right{margin-left: 650px;}
.mn .btn i{position: absolute;top: 55%;left: 50%;transform: translate(-50%,-50%);font-weight: 200;font-size: 20px;}
.mn .slick-dots {display: none;}
.mn .slick-dots li button {display:none;}


@media (max-width:768px){
    .mn {padding:0 10px;text-align:center;width:auto;margin: 50px 0;}

    .mn .slick-dots {display:flex;justify-content:center;}
    .mn .slick-dots li {width:10px;height:10px;margin:20px 5px;background:#ddd;border-radius:50%;transition:0.4s;}
    .mn .slick-dots li.slick-active {background:#444;transform:scale(1.2)}
    .mn .slick-dots li button {display:none;}

}


.rev {padding: 60px 0;background: #e8b0a3;width: 1200px;margin: 0 auto;text-align: center;margin-bottom:100px;}
.rev h2 {font-family: 'Lora', serif;text-align: center;font-size: 20px;margin-bottom:25px;}
.rev .container {width: 1200px;margin: 0 auto; }
.rev .txt strong {display: block;font-size: 19px;font-weight: 600; margin: 15px 0;}

.rev .txt p {line-height: 2;}
.rev .img strong {display: block;font-size: 18px; margin-bottom: 15px;}
.rev .img img {margin-bottom: 30px;}

@media (max-width:768px) {
    .rev {width: auto;}
    .rev .container {width: auto;}
}


footer {margin: 0 auto;padding: 50px 0;text-align: center;background:rgb(231, 231, 231);color: #222;font-size: 15px;}
footer .sns {justify-content: center;display: flex;font-size: 25px;margin-bottom: 20px;}
footer .sns a {margin: 0 15px;}
footer dd {display: flex;margin: 10px 0;justify-content: center;}
footer dd a {margin: 0 10px;display: block;}
footer dd>a~a::after {content:"";width: 1px;height: 12px;background: #222;position:absolute;left:0;}
footer ul {display: flex;margin: 5px 0;justify-content: center;}

footer ul>li {padding:5px 10px;position: relative;} 
footer ul>li~li::after {content:"";width: 1px;height: 12px;background: #222;position:absolute;left:0;}

@media (max-width:768px) {
    footer {font-size: 10px;}

    footer dd>a {display: block;}
    footer ul>li {display: block;}
}



