body {background: #333;color: #fff;font-weight: 300;text-align: center;}

#bal {margin: 200px 0;padding: 100px 0;position: relative;}
#bal .container {width: 800px;margin: 0 auto;height:450px;overflow: hidden;position: relative;}
#bal .case {position:absolute;top: 0;left: 0;transition: ;}

#bal .btn {display: flex;justify-content: center;}

#bal .btn li {width: 30px;height:30px;background: #fff;border-radius:50%;margin:0 5px;cursor:pointer;text-indent: -9999px;}


#bal h2 {font-size: 18px;font-weight: 100;letter-spacing: 1em;}



.sun {position: absolute;top: 150px;left: 150px;animation:sunmove 10s infinite linear;}
.bf {position: absolute;bottom: 250px;left: 150px;animation: bfm 10s linear both;}
.bf figure {animation:bfw 1s infinite;}
.bf img {max-width: 200px;} 


@keyframes sunmove{
    to {transform: rotate(360deg)}
}


@keyframes bfw{
    0% {transform: scaleX(0);}
    50% {transform: scaleX(1);}
    100% {transform: scaleX(0);}
}

@keyframes bfm {
    0% {transform: translate(0,0)rotate(45deg)}
    10% {transform: translate(100px,-50px)rotate(58deg)}
    20% {transform: translate(200px,-30px)rotate(63deg)}
    30% {transform: translate(300px,-40px)rotate(75deg)}
    40% {transform: translate(400px,-45px)rotate(75deg)}
    50% {transform: translate(500px,-50px)rotate(75deg)}
    60% {transform: translate(600px,-30px)rotate(75deg)}
    70% {transform: translate(700px,-40px)rotate(75deg)}
    80% {transform: translate(800px,-100px)rotate(75deg)}
    90% {transform: translate(1000px,-150px)rotate(0deg)}
    100% {transform: translate(1000px,-300px)rotate(75deg)}
}








